body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

button {
  padding: 10px 18px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

video, canvas {
  margin-top: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}
